{% extends '_base.jinja' %}
{% block body %}
    <h2>Documentation</h2>
    <h3>Compiling</h3>
    <p>
        To compile menial 2, you can use the following commands:
    </p>
    <p>
        <pre class="prettyprint lang-c">
cargo build -r
        </pre>
    </p>
    <h3>Prerequisites</h3>
    <ul>
        <li>
            rust/cargo
        </li>
        <li>
            OpenSSL headers
        </li>
    </ul>

    <h3>Configuration</h3>
    <h4 id="authfile">Authentication file</h4>
    <p>
        If a authfile path is set in the configuration, you need to provide a authentication file and the configured location.
    </p>
    <p>
        An authentication file has the following structure:
    </p>
    <p>
        <pre>
            <code class="lang-c">
user:hashvalue
...         </code>
        </pre>
    </p>
    <p>
        The hashvalue is the SHA 256 hashed password for the user.
    </p>
    <p>
        You can provide as many user/hashvalues pairs as you need. To get a valid SHA 256 hash for the clean text password, you can use the following Python snippet:
    </p>
    <p>
        <pre class="prettyprint lang-python">
import hashlib
hashlib.sha256<wbr>("Acleantextpassword")<wbr>.hexdigest()
        </pre>
    </p>
    <p>
        This will result in the following hash: c953b25ee7b3e7fb5dbf6e8f02<wbr>a4e303dbe898156bfa6e700c81f9<wbr>d8e8219f8e
    </p>
    <p>
        A valid entry in the authfile for user "jane" would than be:
    </p>
    <p>
        <pre class="prettyprint lang-python">
jane:c953b25ee7b3e7fb5dbf6e8f02<wbr>a4e303dbe898156bfa6e700c81f9<wbr>d8e8219f8e
        </pre>
    </p>

    <h4 id="dirlisting">Directory listing</h4>
    <p>
        Not implemented yet.
    </p>

{% endblock %}
