{% extends '_base.jinja' %}
{% block body %}
    <h2>menial</h2>
    <p>
        menial is licensed under a <a href="https://www.gnu.org/licenses/gpl.html">GPLv3 license</a>. The text of this license is included in the downloadable sources.
    </p>

    <h2>Third-party libraries</h2>
    <p>
        We would like to thank the developers of the third-party libraries which are used by menial. The following section gives information about the licenses of the included libraries.
    </p>

    <h3>OpenSSL</h3>
    <p>
        Copyright (c) 1998-2018 The OpenSSL Project.  All rights reserved.<br>
        All rights reserved.
    </p>
    <p>
        THIS SOFTWARE IS PROVIDED BY THE OpenSSL PROJECT ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE OpenSSL PROJECT OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER  TRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </p>
    <p>
        Copyright (C) 1995-1998 Eric Young (eay@cryptsoft.com)<br>
        All rights reserved.
    </p>
    <p>
        THIS SOFTWARE IS PROVIDED BY THE OpenSSL PROJECT ``AS IS'' AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE OpenSSL PROJECT OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN TRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </p>
    <p>
        menial uses OpenSSL for encrypted connections. Currently necessary precompiled binary files from OpenSSL are included in the downloadable sources and in the precompiled binary.
    </p>
{% endblock %}
